server/node_modules/
client/node_modules/
server/package-lock.json
client/package-lock.json
server/.env
client/.env
client/build/
server/dist/
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db
